body {
	background-color: black;
	text-align: center;
	margin: 0;
	overflow: hidden;
	display: grid;
	grid-template-rows: 10vmin 100vmin;
	grid-template-columns: 100vmax;
	grid-template-areas: 
		"navigation"
		"content";
	justify-items: center;
	align-items: center;
}

.video-bg {
	position: fixed;
	object-fit: fill;
	height: 110%; 
	opacity: 0.7;
}

img {
	max-width: 100%;
	height: auto;
}

nav {
	position: relative;
	top: 5vmin;
	grid-area: navigation;
	display: grid;
	grid-template-columns: 60vmax 60vmax;
	grid-template-areas: "index languages";
	align-items: center;
	justify-items: center;
	font-size: 25px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav a {
	color: white;
	text-decoration: none;
	position: relative;
}

#links {
	grid-area: index;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#links a {
	margin-left: 5vmin;
}

#langs {
	grid-area: languages;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	width: 30%;
}

.growing {
	animation-name: grow;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}

.shrinking {
	animation-name: shrink;
	animation-duration: 250ms;
	animation-fill-mode: forwards;
}

@keyframes grow {
	100% {
		transform: scale(1.2);
	}
}

@keyframes shrink {
	0% {
		transform: scale(1.2);
	}
	100% {
		transform: scale(1);
	}
}

main {
	grid-area: content;
	display: grid;
	grid-template-rows: 20vmin 10vmin 30vmin;
	justify-items: center;
	align-items: space-evenly;
	position: relative;
}

#logo {
	width: 25vmax;
	position: relative;
	top: 1vmin;
}

#search-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	border: solid;
	border-color: white;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10vmin;
	border-width: 3px;
	margin: auto;
	width: 55vmax;
	height: 5vmax;
	margin-bottom: 135px;
	visibility: visible;
	position: relative;
}

#search-bar input {
	width: 40vw;
	height: 60px;
	background-color: transparent;
	border: none;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 32px;
	color: black;
	outline: none;
	position: relative;
	left: 3vmax;
	text-align: center;
}

#search-button {
	width: 8.5%;
	background-color: transparent;
	border: none;
	outline: none;
	flex-shrink: 2;
	position: relative;
	top: 0.3vmin;
	left: 5vmin;
}

main p {
	position: relative;
	top: 2.5vmin;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 24px;
	letter-spacing: 1px;
	color: white;
}

/* SMALL SCREEN LAPTOPS */
@media (min-width: 769px) and (max-width: 1024px) {
	.video-bg {
		height: 80%;
	}
	body {
		margin-top: 9vmin;
	}
	nav {
		top: 20vmin;
	}
	#links a {
		margin-left: 50px;
	}
}