body {
	background-color: black;
	text-align: center;
	margin: 0;
	overflow: hidden;
	display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.video-bg {
	position: fixed;
	object-fit: fill;
	height: 110%; 
	opacity: 0.2;
    filter: blur(1px);
}

main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    height: 100vmin;
}

#placeholder {
	background-color: rgba(255, 255, 255, 0.8);
	width: 701px;
	height: 30px;
	position: relative;
	top: 15px;
}

#placeholder p {
	font-size: 20px;
	position: relative;
	top: -1px;
	letter-spacing: 1px;
	color: black;
}

iframe {
	position: relative;
	top: 15px;
	width: 700px;
	height: 400px;
}

#loading-bar {
	border: solid;
	border-color: white;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10vmin;
	border-width: 3px;
	margin: auto;
	width: 55vmax;
	height: 5vmax;
	position: relative;

}

main p {
    color: white;
    font-size: 25px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
	bottom: 35px;
}

